.Header {
  position: fixed;
  display: flex;
  height: 65px;
  width: 100vw;
  z-index: 1;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;

  .wrapper {
    display: flex;
    align-items: center;
    :hover {
      cursor: pointer;
    }
  }
  img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .logo {
    font-family: Recipekorea;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: bold;
  }
}
