.Title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post_tag_list {
  display: flex;
  font-weight: 1000;
  flex-wrap: wrap;
  padding: 0 0.5rem 0 0.5rem;
}

.post_tag_item {
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
  color: white;
  background: rgb(165, 165, 165);
  margin-right: 10px;
  margin-top: 2px;
}

.ck-content {
  margin-top: 1rem;
}

.body {
  margin-top: 2rem;
}

time {
  float: right;
  margin-right: 5rem;
}
