.Title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.category {
  border-radius: 5px;
  font-weight: 1000;
  color: white;
  background-color: rgb(17, 146, 233);
  display: inline;
  padding: 0.5rem;
}

.body {
  margin-top: 2rem;
}
