.Title {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.category {
  font-weight: 1000;
  color: black;
  display: inline;
  margin: 2rem;
}

.body {
  margin-top: 2rem;
}
