.TitleInput {
  font-size: 3rem;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  width: 100%;
}

.QuillWrapper {
  margin-top: 1rem;
}

.WriteActionButton {
  margin-top: 1rem;
  margin-bottom: 3rem;
  left: 0;
  button + button {
    margin-left: 0.5rem;
  }

  button {
    height: 2.125rem;
    border: none;
    background: #d3d3d3;
    font-weight: bold;
    font-size: 1rem;
    width: 12rem;
  }
}
