.WriteActionButton {
  margin-top: 1rem;
  margin-bottom: 3rem;
  left: 0;
  button + button {
    margin-left: 0.5rem;
  }

  button {
    height: 2.125rem;
    border: none;
    background: #d3d3d3;
    font-weight: bold;
    font-size: 1rem;
    width: 12rem;
  }
}
