.none {
  display: none;
}

.Login {
  .quest {
    margin: 0;
    display: block;
    font-size: 2rem;
  }

  p {
    display: contents;
    font-size: 2rem;
  }

  img {
    width: 50px;
  }

  button {
    float: right;
    display: block;
    border: 1px solid;
    border-radius: 10px;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  input {
    display: block;
    border: none;
    font-size: 2rem;
    border-bottom: 1px solid #808080;
    &:focus {
      outline: none;
    }
  }
}
